<!DOCTYPE html>
<html lang="en">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div id="app">
        <button @click="isActive = !isActive">
            Değeri Değiştir
        </button>

        <h1 v-if="isActive">Merhaba Dünya</h1>
        <h2 v-else>Vue.js eğitimi</h2>

        <h3 v-if="sayi == 1">Sayi 1 e eşit</h3>
        <h3 v-else-if="sayi == 2">Sayi 2 e eşit</h3>
        <h3 v-else-if="sayi == 3">Sayi 3 e eşit</h3>
        <h3 v-else-if="sayi == 4">Sayi 4 e eşit</h3>
        <h3 v-else>Sayi 4 den büyük bir değer</h3>


    </div>

</body>
<script>
    new Vue({
        el: '#app',
        data: {
            isActive: true,
            sayi: 6,
        }
    });
</script>
</html>
